.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 50%;
}

.bg-primary-color{
	background-color: #007af5;
}

.project-orphan-logo{
	width: 333px;
	height: 115px;
}

.project-orphan-footer{
	background-color: #000000;
}

.project-orphan-font{
	font-family: 'Roboto';
}

.center-text-orphan{

}